
.ready-to-start{
    background: $nav-bg-color;
    padding-top: 100px;
    padding-bottom: 40px;
}

.start{

    text-align: center;

    @include for-nav(){
        justify-content: center;
    }

    &__title{
        font-family: 'DM Serif Display';
font-weight: 400;
font-size: 48px;
line-height: 56px;
color: #36536B;
margin-bottom: 40px;
    }


    form{
        
        position: relative;
        justify-content: center;
        padding: 0 50px 50px 50px;
    
      @include for-nav(){
        justify-content: center;
        text-align: center;
        padding: 0 ;
        margin-bottom: 50px;
      }

    }
    &-input{
         background: #FBFCFE;
         box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
         border-radius: 24px;
         width: 555px;
         height: 48px;
         padding: 16px 0 14px 32px;
         @include for-nav(){
            width: 297px;
            

         }
         
    }
    &-btn{
        position: absolute;
        right: 151px;
        top: 0;

        @include for-tablet(){
            position: absolute;
            right: 0;
        }

        @include for-nav(){
            position: absolute;
            bottom: 0;
        }
    }



}